@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRight {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-right {
  animation: slideRight 1s ease-out forwards ; /* 'forwards' mantiene el estado final de la animación */
}

.animation-arrow{
  animation: arrow180 0.2s linear forwards;
}
@keyframes arrow180{
  to{
    transform: rotate(180deg) translateX(30%);
  }
}
.animation-text{
  animation: textOpacity 2s linear forwards;

}
@keyframes textOpacity {
to{
  opacity: 100%;
}
}
.animation-navbar{
  animation: showNavbar 0.001s linear forwards;
}
@keyframes showNavbar {
  to{
    width: 21%;

  }
}
.div-back{
  animation: aux 1s linear forwards;

}
@keyframes aux{
  to{
    width: 87%;
    height: 64px;
  }
}

.animation-navbar2{
  animation: hideNavbar 5s linear forwards;

}
@keyframes hideNavbar {
  to{
    width:80px;
  }
}

/* From Uiverse.io by gharsh11032000 */ 
.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.button-card{
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  width: 60%;
  border-radius: 6%;
}


.button-card:hover{
  background: linear-gradient(-45deg, #00dbde 100% , #fc00ff 0% );
}

.rotate-plus{
  animation: rotatePlus 0.2s linear forwards;
}

@keyframes rotatePlus {
    to{
      transform: rotate(90deg);
    }
}