@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRight {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-right {
  animation: slideRight 1s ease-out forwards ; /* 'forwards' mantiene el estado final de la animación */
}
